server:
  port: 9002

spring:
  # dubbo
  dubbo:
    application.name: management-consumer
    registry.address: zookeeper://192.168.88.128:2181
    protocol:
      name: dubbo
      port: 20880
    scan: com.cc.gmp.consumer
  # log spring profile
  profiles:
    active: dev

# log
logging:
  level: debug
  config: classpath:logback-spring.xml
